<%= simple_form_for([skit, playlist_skit], remote: true) do |f| %>
  <div class="modal-body">
    <%= f.error_notification %>

    <div class="form-group">
      <input type="hidden" name="playlist_skit[playlist_id][]" value="">
      <div class="playlist-choices text-center">
        <% @right_playlists.each do |playlist| %>
          <input class="hidden" type="checkbox" value="<%= playlist.id %>" name="playlist_skit[playlist_id][]" id="playlist_skit_playlist_id_<%= playlist.id %>">
          <label class="playlist-choice" for="playlist_skit_playlist_id_<%= playlist.id %>">
            <%= playlist.name %>
            <i class="fa fa-check" id="playlist_fa"></i>
          </label>
        <% end %>
      </div>
    </div>

    <%= f.hidden_field :skit_id, value: skit.id %>
  </div>
  <div class="modal-footer">

    <%= button_tag(type: "button", data: {dismiss: "modal"}, class: "cancel-btn") do %>
      <span style="color: red"><i class="fa fa-trash"></i></span>
    <% end %>
    <%= button_tag(type: "submit", :name => "commit", class: "submit-btn") do %>
      <i class="fa fa-paper-plane"></i>
    <% end %>
  </div>
<% end %>
