<!-- video player -->
<div class="embed-player">
  <div id="large-player" class='player'></div>
</div>

<div id="miniature-player" class='player'></div>

<!-- modal for review -->
<div class="rate">
  <%= link_to "#modalReview_" + @skit.id.to_s, data: {toggle: "modal"} do %>
    <ul class="list-inline">
      <li><i class="fa fa-smile-o"></i></li>
      <li><h4>rate me!</h4></li>
    </ul>
  <% end %>
</div>

<%= render "modal_review", skit: @skit, review: @review %>
<!-- carrousel of the playlist -->
<%= render "pages/shared/showcard" %>
<!-- average rating + nb of comments -->

<!-- quizz -->

<!-- floating player -->

<!-- RECOMMENDATIONS -->

<div class="container">
  <h2>You may also like:</h2>
  <div class="row">
    <% @recommended_skits.each do |skit| %>
      <div class="col-xs-12 col-md-4">
        <%= render 'pages/shared/card', skit: skit %>
      </div>
    <% end %>
  </div>
</div>

<!-- REVIEWS -->
<h2>Reviews</h2>
<% @skit.reviews.each do |review| %>
  <h3><%= "*" * review.rating %></h3>
  <p><%= review.content %></p>
<% end %>

<!-- script pour player youtube -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'player.js' %>
  <% end %>
<% end %>
