<% content_for :meta_title do %>
  <%= @skit.name %> - <%= @skit.comedian.name %>
<% end %>
<% content_for :meta_description, @skit.short_description %>
<% content_for :meta_image, cloudinary_url(@skit.picture.path) %>

<div class="showpage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <div class="left-content">
          <!-- DISPLAY SHOW OF SKIT -->
          <!--  LARGE PLAYER -->
          <!--  SUBVIDEO INFOS -->
          <!--  MODAL FOR REVIEW -->
          <!-- MODAL FOR ADDING PLAYLIST -->
          <!-- SHARE -->
          <!--  NEXT SKIT OF PLAYLIST -->
          <!--  RECOMMENDATIONS -->
          <!--  REVIEWS -->

          <%= render 'playing_skit', skit: @skit, review: @review, recommended_skits: @recommended_skits, skit_rating_average: @skit_rating_average, playlist_skit: @playlist_skit, right_playlists: @right_playlists %>
          <%= render 'search_skits', skits: @recommended_skits, comedians: [] %>
        </div>
      </div>

      <!-- RIGHT PANEL -->
      <div class="col-xs-4">
        <!-- QUIZZ CARD -->
        <div class="quizzcard padded text-center">
          <div class="row">
            <div class="col-xs-12">
              <h2 style="font-size: 50px;">QUIZZ<br/>
              (EN DÉVELOPPEMENT)<br/><br/>LET'S PLAY !</h2>
              <%= image_tag "o.png", width: "100px" %>
            </div>
          </div>
        </div>

        <!-- FLOATING MINIATURE VIDEO PLAYER & INFOS -->
        <div class="right-content">
          <div id="minipanel">
            <div class="row">
              <!-- VIDEO TITLE & COMEDIAN -->
              <div class="col-xs-12">
                <div class="head-title-box">
                  <h2 id="minihead" class="text-center">
                    Vous regardez “<%= @skit.name %>” de <%= @skit.comedian.name %>
                  </h2>
                </div>
              </div>
              <!-- MINIATURE VIDEO PLAYER -->
              <div class="col-xs-12">
                <div id="miniature-player" class='player'>
                </div>
              </div>
              <!-- FLOATING SUBVIDEO BAR -->
              <div class="col-xs-12">
                <ul class="list-inline">
                  <div class="subvideobar">
                    <!-- average rating -->
                    <li>
                      <h4 id="overall_rating">Note globale : <span style="color: $brand-yellow;" id="overall_rating_note"><%= "★" * @skit_rating_average %></span></h4>
                    </li>
                    <!-- # of comments and link to them -->
                    <li>
                      <h4 class="commentaries"><%= link_to @skit.reviews.length.to_s + " Commentaires", skit_path(@skit, anchor: "reviews") %></h4>
                    </li>
                    <!-- Add a review -->
                    <li>
                      <div class="rate">
                        <%= link_to "#modalReview_" + @skit.id.to_s, data: {toggle: "modal"} do %>
                          <ul class="list-inline">
                            <li><i class="fa fa-smile-o"></i></li>
                            <li><h4>Evaluez-moi !</h4></li>
                          </ul>
                        <% end %>
                      </div>
                      <!-- modal for review -->
                      <% if !user_signed_in? %>
                        <div class="modal fade" id="modalReview_<%= @skit.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title text-center" id="myModalLabel">Merci de vous logger pour noter et laisser un commentaire !</h4>
                              </div>
                      <% else %>
                        <div class="modal fade" id="modalReview_<%= @skit.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Review this skit performed by <%= @skit.comedian.name %></h4>
                              </div>
                              <%= render "review_form", skit: @skit, review: @review %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                      <!-- end -->
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>









<!-- script pour player youtube -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'player.js' %>
  <% end %>
<% end %>
