<% content_for :meta_title do %>
  <%= @skit.name %> - <%= @skit.comedian.name %>
<% end %>
<% content_for :meta_description, @skit.short_description %>
<% content_for :meta_image, cloudinary_url(@skit.picture.path) %>

<div class="showpage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-8">
        <div class="left-content">
          <!-- DISPLAY SHOW OF SKIT -->
            <!--  LARGE PLAYER -->
            <!--  SUBVIDEO INFOS -->
            <!--  MODAL FOR REVIEW -->
            <!-- MODAL FOR ADDING PLAYLIST -->
            <!-- SHARE -->
            <!--  NEXT SKIT OF PLAYLIST -->
            <!--  RECOMMENDATIONS -->
            <!--  REVIEWS -->
          <%= render 'playing_skit', skit: @skit, next_skits: @next_skits, recommended_skits: @recommended_skits, skit_rating_average: @skit_rating_average, playlist_skit: @playlist_skit %>

          <!-- SEARCH SKITS -->
          <%= render 'search_skits' %>

          <!-- PLAYLIST -->
          <%= render 'playlist_in_parallel' %>

        </div>
      </div>

      <!-- RIGHT PANEL -->
      <div class="col-xs-4">
        <!-- QUIZZ CARD -->
        <div id="quizz">
          <%= render 'shared/quizz_question' %>
        </div>
        <!-- FLOATING MINIATURE VIDEO PLAYER & INFOS -->
        <div class="right-content">
          <div id="minipanel">
            <div class="row">
              <!-- VIDEO TITLE & COMEDIAN -->
              <div class="col-xs-12">
                <div class="head-title-box">
                  <h2 id="minihead" class="text-center">
                    Vous regardez “<%= @skit.name %>” de <%= @skit.comedian.name %>
                  </h2>
                </div>
              </div>
              <!-- MINIATURE VIDEO PLAYER -->
              <div class="col-xs-12">
                <div id="miniature-player" class='player'>
                </div>
              </div>
              <!-- FLOATING SUBVIDEO BAR -->
              <div class="col-xs-12">
                <ul class="list-inline">
                  <div class="subvideobar">
                    <!-- average rating -->
                    <li>
                      <h4 id="overall_rating">Note globale : <span style="color: $brand-yellow;" id="overall_rating_note"><%= "★" * @skit_rating_average %></span></h4>
                    </li>
                    <!-- # of comments and link to them -->
                    <li>
                      <h4 class="commentaries"><%= link_to @skit.reviews.length.to_s + " Commentaires", skit_path(@skit, anchor: "reviews") %></h4>
                    </li>
                    <!-- Add a review -->
                    <li>
                      <div class="rate">
                        <%= link_to "#modalReview_" + @skit.id.to_s, data: {toggle: "modal"} do %>
                          <ul class="list-inline">
                            <li><i class="fa fa-smile-o"></i></li>
                            <li><h4>Evaluez-moi !</h4></li>
                          </ul>
                        <% end %>
                      </div>
                      <!-- end -->
                    </li>
                  </div>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- modal for review -->
<%= render 'modal_add_review', skit: @skit, review: @review %>

<!-- modal for adding to playlist -->
<!-- A DRYER -->
<!-- end A DRYER -->
<%= render 'modal_add_to_playlist', right_playlists: @right_playlists, skit: @skit, playlist_skit: @playlist_skit %>


<!-- script pour player youtube -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'player.js' %>
  <% end %>
<% end %>
