<!-- video player -->
<div class="embed-player">
  <div id="player"></div>
</div>


<!-- modal for review -->
<div class="rate">
  <%= link_to "#modalReview_" + @skit.id.to_s, data: {toggle: "modal"} do %>
    <ul class="list-inline">
      <li><i class="fa fa-smile-o"></i></li>
      <li><h4>rate me!</h4></li>
    </ul>
  <% end %>
</div>

<%= render "modal_review", skit: @skit, review: @review %>
<!-- carrousel of the playlist -->
<%= render "pages/shared/showcard" %>
<!-- average rating + nb of comments -->

<!-- quizz -->

<!-- floating player -->

<!-- RECOMMENDATIONS -->

<div class="container">
  <h2>You may also like:</h2>
  <div class="row">
    <% @recommended_skits.each do |skit| %>
      <div class="col-xs-12 col-md-4">
        <%= render 'pages/shared/card', skit: skit %>
      </div>
    <% end %>
  </div>
</div>

<!-- REVIEWS -->
<h2>Reviews</h2>
<% @skit.reviews.each do |review| %>
  <h3><%= "*" * review.rating %></h3>
  <p><%= review.content %></p>
<% end %>

<!-- script pour player youtube -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    // 2. This code loads the IFrame Player API code asynchronously.
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);


    // 3. This function creates an <iframe> (and YouTube player)
    //    after the API code downloads.
    var player;
    function onYouTubeIframeAPIReady() {
      player = new YT.Player('player', {
        height: '480',
        width: '850',
        videoId: '<%= j @skit.youtube_path %>',
        playerVars: {
          'autoplay': 1,
          'rel': 0,
          'showinfo': 0
        },
        events: {
          'onReady': onPlayerReady
        }
      });
    }

    // 4. The API will call this function when the video player is ready.
    function onPlayerReady(event) {
      event.target.playVideo();
    }
  <% end %>
<% end %>
