
        <div class="skit-card">
          <header>
            <div class="bio">
              <%= cl_image_tag skit.picture, class: 'bg' %>
              <div class="desc">
                <br>
                <div>
                  <p>
                    <%= ski.short_description %>
                  </p>
                  <div class="btn btn-primary btn-play-banner btn-sm"><i class="fa fa-play-circle" aria-hidden="true" style='font-size: 20px'></i><b> REGARDER</b></div>
                </div>
              </div>
            </div>
            <div class="card-comedian-avatar">
              <%= cl_image_tag skit.comedian.picture, class: 'card-avatar' %>
            </div>

            <div class="card-ranking">
              <div class= "card-ranking-item text-center">
                <div><b><%= skit.comedian.name %></b></div>
              </div>
              <div class= "card-ranking-item text-center">
                <div><i class="fa fa-battery-full" aria-hidden="true" style='font-size: 25px'></i></div> <!-- skit.ranking -->
              </div>
            </div>
          </header>
          <div class="card-data">
            <div class= "card-data-info text-center">
              <div><%= skit.nb_of_views %></div>
              <div>vues</div>
            </div>
            <div class= "card-data-description text-center">
            <div><%= skit.name %></div>
            </div>
            <div class= "card-data-info text-center">
              <div><%= skit.duration %></div>
              <div>min</div>
            </div>
          </div>
        </div>



