
<div class="flip">
  <div class="half">
    <div class="playlist-card-bio" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= img %>);">
    </div>
  </div>
  <div class="options">
    <%= link_to "#" do  %>
      <i class="fa fa-play-circle"></i>
    <% end %>
    <%= link_to "#" do  %>
      <i class="fa fa-heart"></i>
    <% end %>
    <%= link_to "#" do  %>
      <i class="fa fa-share"></i>
    <% end %>
  </div>
  <div class="full">
    <div class="playlist-card-bio" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= img %>);">
    </div>
  </div>
</div>
