<div class="footer">
    <div class= "footer-data text-center">
      <div class= "footer-infos text-center" id="footer-logo">
        <li>
          <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "http://res.cloudinary.com/pywagon/image/upload/v1496155334/logo_sans_tagline_fdzewm.png" %>
          <% end %>
        </li>
        <li>
          <div>@Zygomatic 2017</div>
        </li>
      </div>
      <div class= "footer-infos text-center" id="footer-links">
        <li>
          <b><%= link_to "Accueil", "#" %></b>
        </li>
        <li>
          <b><%= link_to "Ultimate sketches", "#" %></b>
        </li>
        <li>
          <b><%= link_to "À ne pas manquer", "#" %></b>
        </li>
      </div>
      <div class= "footer-infos text-center" id="footer-links">
          <li>
          <b><%= link_to "A propos de Zygomatic", "#" %></b>
        </li>
        <li>
          <b><%= link_to "Contact", "#" %></b>
        </li>
        <li>
          <b><%= link_to "Mentions légales", "#" %></b>
        </li>
      </div>
      <div class="class footer-infos text-center" id="footer-share">
          <div><li><a href><i class="fa fa-youtube" style='font-size: 30px'></i></a></li></div>
      </div>
      <div class="class footer-infos text-center" id="footer-share">
        <div><li><a href><i class="fa fa-twitter" style='font-size: 30px'></i></a></li></div>
      </div>
      <div class="class footer-infos text-center" id="footer-share">
        <div><li><a href><i class="fa fa-instagram" style='font-size: 30px'></i></a></li></div>
      </div>
      <div class="class footer-infos text-center" id="footer-share">
        <div><li><a href><i class="fa fa-facebook" style='font-size: 30px'></i></a></li></div>
      </div>
    </div>
</div>


