<div class="footer">
    <div class= "footer-data text-center">
      <div class= "footer-infos text-center" id="footer-logo">
        <li>
          <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1497005318/logo_fond_blanc.png" %>
          <% end %>
        </li>
        <li>
          <div>@Zygomatic 2017</div>
        </li>
      </div>
      <div class= "footer-infos text-center" id="footer-links">
        <li>
          <b><%= link_to "Accueil", "#", style: 'font-weight: 300' %></b>
        </li>
        <li>
          <b><%= link_to "Ultimate sketches", "#", style: 'font-weight: 300' %></b>
        </li>
        <li>
          <b><%= link_to "À ne pas manquer", "#", style: 'font-weight: 300' %></b>
        </li>
      </div>
      <div class= "footer-infos text-center" id="footer-links">
          <li>
          <b><%= link_to "A propos de Zygomatic", "#", style: 'font-weight: 300'%></b>
        </li>
        <li>
          <b><%= link_to "Contact", "#", style: 'font-weight: 300' %></b>
        </li>
        <li>
          <b><%= link_to "Mentions légales", "#", style: 'font-weight: 300' %></b>
        </li>
      </div>
      <div class="footer-infos sharebox text-center">
        <div class="footer-share text-center">
            <div><li><a href><i class="fa fa-youtube" style='font-size: 30px' id="ytbe"></i></a></li></div>
        </div>
        <div class="footer-share text-center">
          <div><li><a href><i class="fa fa-twitter" style='font-size: 30px', id="ytbe"></i></a></li></div>
        </div>
        <div class="footer-share text-center">
          <div><li><a href><i class="fa fa-instagram" style='font-size: 30px', id="ytbe"></i></a></li></div>
        </div>
        <div class="footer-share text-center">
          <div><li><a href><i class="fa fa-facebook" style='font-size: 30px', id="ytbe"></i></a></li></div>
        </div>
      </div>
    </div>
</div>


