<div class="quizzcardbox-launch quizzbox text-center">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496666550/logo_quizz2.png", width: "250px" %>
      <br>
      <br>
      <div class="bio next-card">
        <%= cl_image_tag "http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496667274/imagequizzmissioncleopatrepjlwoi.png", class: "launchquizz-image" %><!--  skit.pic_skit -->
        <div class="launchquizz" id="quizzlauncher">
          <div>
            <br>
            <i class="fa fa-power-off" aria-hidden="true" style='font-size: 35px'></i>
            <br>
            <b>C'est parti mon kiki !</b>
          </div><!-- comedian.short_description -->
        </div>
      </div>
      <h2><b>#MissionCléopâtre</b></h2>
    </div>
  </div>
</div>

<div class="quizzcard quizzcard1 quizzbox">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-top">
        <%= cl_image_tag 'http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496667495/lempirecontreattaqueew6pqn.png' %>
      </div>
      <div class="card-middle">
        <h3 class="text-center"><b>(1/3) Quand on l'attaque, l'empire...</b></h3>
      </div>
      <div class="card-bottom">
        <div class="answer next-card text-center">
          <h3>contre attaque</h3>
        </div>
        <div class="answer bad-answer text-center">
          <h3>paye sa bière</h3>
        </div>
        <div class="answer bad-answer text-center">
          <h3>fait du yoga</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quizzcard quizzcard2 quizzbox">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-top">
        <%= cl_image_tag 'http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496668102/lephareaon.png' %>
      </div>
      <div class="card-middle">
        <h3 class="text-center"><b>(2/3) C'est le phare à...</b></h3>
      </div>
      <div class="card-bottom">
        <div class="answer bad-answer text-center">
          <h3>La mère Michelle</h3>
        </div>
        <div class="answer bad-answer text-center">
          <h3>Jules César</h3>
        </div>
        <div class="answer next-card text-center">
          <h3>On</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quizzcard quizzcard3 quizzbox">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-top">
        <%= cl_image_tag 'http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496667909/souquezlesartimuses.png' %>
      </div>
      <div class="card-middle">
        <h3 class="text-center"><b>(3/3) Souquez les...</b></h3>
      </div>
      <div class="card-bottom">
        <div class="answer bad-answer text-center">
          <h3> Artimuses !</h3>
        </div>
        <div id="final-question" class="answer next-card update_pill update_score text-center">
          <h3> Arquemuses !</h3>
        </div>
        <div class="answer bad-answer text-center" class="bad-answer">
          <h3> Cornemuses !</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quizzcardbox-finish text-center quizzbox" id="gaulois-effect">
  <div class="row">
    <div class="col-xs-12">
      <div class="quizz-badge">
      <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496675981/gaulois.png", width: "250px" %>
      </div>
      <div class= "quizz-results">
        <h2>
        <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496679400/stars.png", width: "70px"%>
        <b>Bravo !</b>
        <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496679400/stars.png", width: "70px"%>
        </h2>
        <h2><b>Tu obtiens 3/3 !</b></h2>
          <h4><b>Tu remportes le badge "Humour Gaulois" !</b></h5>
          <h4><b>Tu passes au niveau "Roi de l'humour" !</b></h4>
          <h4><b>A demain pour le prochain Quizz of the jour !</b></h4>
      </div>
    </div>
  </div>
</div>

<!-- script pour quizz -->
<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    <%= render 'quizz.js' %>
  <% end %>
<% end %>

