<div class="quizzcardbox-launch quizzbox text-center">
  <div class="row">
    <div class="col-xs-12">
      <br>
      <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496666550/logo_quizz2.png", width: "250px" %>
      <br>
      <br>
      <div class="bio next-card">
        <%= cl_image_tag "http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496667274/imagequizzmissioncleopatrepjlwoi.png", class: "launchquizz-image" %><!--  skit.pic_skit -->
        <div class="launchquizz" id="quizzlauncher">
          <div>
            <br>
            <i class="fa fa-power-off" aria-hidden="true" style='font-size: 35px'></i>
            <br>
            <b>C'est parti mon kiki !</b>
          </div><!-- comedian.short_description -->
        </div>
      </div>
      <h2><b>#MissionCléopâtre</b></h2>
    </div>
  </div>
</div>

<div class="quizzcard quizzcard1 quizzbox">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-top">
        <%= cl_image_tag 'http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496667495/lempirecontreattaqueew6pqn.png' %>
      </div>
      <div class="card-middle">
        <h3 class="text-center"><b>(1/3) Quand on l'attaque, l'empire...</b></h3>
      </div>
      <div class="card-bottom">
        <div class="answer next-card text-center">
          <h3>contre attaque</h3>
        </div>
        <div class="answer bad-answer text-center">
          <h3>paye sa bière</h3>
        </div>
        <div class="answer bad-answer text-center">
          <h3>fait du yoga</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quizzcard quizzcard2 quizzbox">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-top">
        <%= cl_image_tag 'http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496668102/lephareaon.png' %>
      </div>
      <div class="card-middle">
        <h3 class="text-center"><b>(2/3) C'est le phare à...</b></h3>
      </div>
      <div class="card-bottom">
        <div class="answer bad-answer text-center">
          <h3>La mère Michelle</h3>
        </div>
        <div class="answer bad-answer text-center">
          <h3>Jules César</h3>
        </div>
        <div class="answer next-card text-center">
          <h3>On</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quizzcard quizzcard3 quizzbox">
  <div class="row">
    <div class="col-xs-12">
      <div class="card-top">
        <%= cl_image_tag 'http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496667909/souquezlesartimuses.png' %>
      </div>
      <div class="card-middle">
        <h3 class="text-center"><b>(3/3) Souquez les...</b></h3>
      </div>
      <div class="card-bottom">
        <div class="answer bad-answer text-center">
          <h3> Artimuses !</h3>
        </div>
        
        <div id="final-question" class="answer next-card update_pill update_score text-center">
          <h3> Arquemuses !</h3>
        </div>
        <!-- </div> -->
        <div class="answer bad-answer text-center" class="bad-answer">
          <h3> Cornemuses !</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="quizzcardbox-finish text-center quizzbox" id="gaulois-effect">
  <div class="row">
    <div class="col-xs-12">
      <div class="quizz-badge">
      <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496675981/gaulois.png", width: "250px" %>
      </div>
      <div class= "quizz-results">
        <h2>
        <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496679400/stars.png", width: "70px"%>
        <b>Bravo !</b>
        <%= image_tag "http://res.cloudinary.com/dkunigdwx/image/upload/v1496679400/stars.png", width: "70px"%>
        </h2>
        <h2><b>Tu obtiens 3/3 !</b></h2>
          <h4><b>Tu remportes le badge "Humour Gaulois" !</b></h5>
          <h4><b>Tu passes au niveau "Roi de l'humour" !</b></h4>
          <h4><b>A demain pour le prochain Quizz of the jour !</b></h4>
      </div>
    </div>
  </div>
</div>

<!-- script pour quizz -->
<% if current_user %>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function(){
        // go to next card when correct answer clicked
        $(".next-card").click(function(){
          var current_quizz = $(this).parents(".quizzbox:first");
          var next_quizz = $(current_quizz).next(".quizzbox");
            if (next_quizz.length > 0) {
              $(current_quizz).hide();
              $(next_quizz).fadeIn(500);
            }
          });

        // shaky effect when wrong answer chosen
        $(".bad-answer").click(function(e){
          $(this).parents(".quizzbox:first").effect("shake");
          e.stopPropagation();
         });
        // console.log(jQuery.cookie("signed_in"));
        // update zigometer when final right answer chosen
        // if (jQuery.cookie("signed_in") = 1) {
          $("#final-question").click(function(){
            // on click update DB with AJAX request
            var newScore = JSON.stringify({
              "user" : {
                "fun_level": "100"
                }
              }
            );
            $.ajax({
              type: "PATCH",
              url: "<%= user_url(current_user) %>",
              contentType: 'application/json',
              data: newScore,
              success: function(data) {
                console.log('success - fun level updated');
                // if AJAX request has worked, change zigometer
                $('#zigometre').empty();
                var updatedZigometer = '<%= image_tag "http://res.cloudinary.com/dz1hdbg1q/image/upload/v1496829806/pilefull.png" %><h4><span>100</span> zigos ! Tu es un roi de l\'humour !</h4>'
                $('#zigometre').append($(updatedZigometer));
                $("#quizz-badge-popup").fadeIn(1000);
                $("#quizz-badge-popup").delay(3000).fadeOut(500);
              },
              error: function(jqXHR) {
                console.error(jqXHR.responseText);
              }
            });
          });
        // } 
      });

    <% end %>
  <% end %>
<% else %>
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function(){
        // go to next card when correct answer clicked
        $(".next-card").click(function(){
          var current_quizz = $(this).parents(".quizzbox:first");
          var next_quizz = $(current_quizz).next(".quizzbox");
            if (next_quizz.length > 0) {
              $(current_quizz).hide();
              $(next_quizz).fadeIn(500);
            }
          });

        // shaky effect when wrong answer chosen
        $(".bad-answer").click(function(e){
          $(this).parents(".quizzbox:first").effect("shake");
          e.stopPropagation();
         });
        // console.log(jQuery.cookie("signed_in"));
        // update zigometer when final right answer chosen
        // if (jQuery.cookie("signed_in") = 1) {
          $("#final-question").click(function(){
            // on click update DB with AJAX request
            var newScore = JSON.stringify({
              "user" : {
                "fun_level": "100"
                }
              }
            );
          });
        // } 
      });
    <% end %>
  <% end %>
<% end %>