<%= render "pages/shared/bannerhome" %>

<div class="container">
  <div class="raw">
    <div class="col-xs-12 col-md-4">
      <%= render "pages/shared/card" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= render "pages/shared/card" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= render "pages/shared/card" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="raw">
    <div class="col-xs-12 col-md-4">
      <%= render "pages/shared/cardartists" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= render "pages/shared/cardartists" %>
    </div>
    <div class="col-xs-12 col-md-4">
      <%= render "pages/shared/cardartists" %>
    </div>
  </div>
</div>


<div class="container">
  <ul id="sortable">
    <li class="ui-state-default">
      <div class="row">
        <%= render "pages/shared/playlist_card" %>
      </div>
    </li>
    <li class="ui-state-default">
      <div class="row">
        <%= render "pages/shared/playlist_card" %>
      </div>
    </li>
    <li class="ui-state-default">
      <div class="row">
        <%= render "pages/shared/playlist_card" %>
      </div>
    </li>
    <li class="ui-state-default">
      <div class="row">
        <%= render "pages/shared/playlist_card" %>
      </div>
    </li>
  </ul>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $( "#sortable" ).sortable();
      $( "#sortable" ).disableSelection();
    });
  <% end %>
<% end %>

