<div class="banner-playlist"></div>

<div class="container-fluid text-center">

  <div class="row">
    <div class="col-xs-8">
      <div id="lauch-playlist" class=" text-center playlist-global-btn btn">
        <i class="fa fa-play-circle" aria-hidden="true" style='color: white; font-size: 40px'></i>
        <b> Lancer la playlist "<%= @playlist.name %>"!</b>
      </div>


      <ul id="sortable">
          <% @playlist_skits.each do |skit| %>
            <li id="<%= skit.id %>" class="ui-state-default" style="list-style-type: none">
              <div class=row>
                <div class="col-xs-12">
                  <%= render 'pages/shared/playlist_skit_card', skit: skit %>
                </div>
              </div>
            </li>
          <% end %>

        </ul>
    </div>
    <div class="col-xs-4"></div>
  </div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#sortable").sortable({
        <!-- when update of the list -->
        update: function( event, ui ) {
          var arrayOfSkits = $('#sortable li');
          var arrayOfSkitIds = [];
          <!-- retrieve skit_ids in the new order -->
          for (var i = 0; i < arrayOfSkits.length ; i++) {
            var currentId = $(arrayOfSkits[i]).attr('id');
            if (currentId !== 'pub') {
              <!-- exclude the commercial -->
              arrayOfSkitIds.push(parseInt(currentId));
            }
          };

          <!-- send ajax request to playlist#update -->
          var updatedPlaylist = JSON.stringify({
            'skit_ids': arrayOfSkitIds
          });
          $.ajax({
            type: "PATCH",
            url: "<%= playlist_update_url(@playlist) %>",
            dataType: 'json',
            contentType: 'application/json',
            data: updatedPlaylist,
            success: function(data) {
              console.log("Successfully updated playlist " + "<%= @playlist.name %>");
            }
          });
        }
      });
      $( "#sortable" ).disableSelection();
    });
  <% end %>
 <% end %>
